@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #60A5FA;
    --dark-grey: #6b7280;
    --off-white: #F3F4F6;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

hr {
    margin: 2rem 0rem;
}

/* container */

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin: 1rem 0rem; */
    /* color: var(--primary-color); */
}

.link--primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link--secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* lists */

.list--nonBullet {
    list-style-type: none;
}

.list--itemInline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav--brand {
    font-weight: bold;
}

.navigation .nav--pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link--active {
    font-weight: bold;
}

/* header */

.hero {
    padding: 2rem;
}

.hero .hero--img {
    max-width: 350px;
    display: block;
    margin: auto;
    padding-top: 2rem;
}

.hero .hero--heading {
    padding-top: 1rem;
    color: var(--dark-grey);
    text-align: center;
}

/* sections */

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.section--offWhite{
    background-color: var(--off-white);
}

/* footer */

.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .footer--header{
    font-weight: bold;
    font-size: large;
}

.footer .link{
    color: white;
}

.footer ul{
    padding-inline-start: 0px;
}

/* extras */
